.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 1rem;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    padding: 20px;
    height: auto;
    width: 80%;
    color: #1f1f1f;
    max-width: 600px;
}

.modal Button {
    margin: 0 auto;
    display: block;
}

.modal p a {
    color: #3d93ef;
}


.container {
    display: flex;
    
}