html {
  background: linear-gradient(140deg, rgb(58, 232, 255) 0%, rgb(55, 106, 236) 100%) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  margin: 0;
  font-family: Bahnschrift, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1d67e7;
}

::-webkit-scrollbar-thumb {
  background-color: #47c7ee;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6bccea;
}

a:any-link {
  color: #fff;
}